body {
    background-color: white;
}
h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-family: monospace;
    font-size: 20px
}

.spending-time {
    color: blue;
}

.rooney-style {
    position: absolute;
    border: 10px ridge gold;
    width: 200px;
    float: center;
    z-index: 2;
}

.dating {
    background-color: red;
}

.merica {
    color: red;
    font-size: 300px;
    background-image: url("map.jpg");
    background-size: contain;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.americanFriends {
    color: red;
}

.home-town {
    color: blue;
}

.home-town2{
    color: red;
}

.goal {
    position: absolute;
    border: 20px double white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 1;
}

/*8, 2 RyanTorske*/
